.handlebox{
  display: flex;
}
/* .handle, .handle2, .handle3, .handle4{
    width: 180px;
    height: 180px;
} */
.handle img, .handle2 img, .handle3 img, .handle4 img{
    width: 100px;
    height: 100px;
    cursor:pointer;
}
.react-draggable img, .cursor {
  cursor: move;
}