.congratulations{
    position: absolute;
    line-height: 1.7;
    left: 43%;
    padding: 50px 20px;
    border: dashed 2px #2443ff;
    top: 0%;
    max-width: 300px;
    font-style: italic;
    font-size: 18px;
    color: #3caa3c;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color:#ffffff9c;
    max-height: 320px;
    overflow: hidden;
}
textarea {
    width: 300px;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;   
    height: 100px;
  }
  .btn-input{   
      margin-top: 20px;
	color: #fff;
	border-radius: 20px;
	padding: 10px 30px 10px 30px;	
	font-size: 16px;
	text-decoration: none;	
	font-weight: 700;
	border: none;
	cursor: pointer;
    font-family:  'Comfortaa', sans-serif;
    background-color:#ff3b3c;
  }